<!--main content in the home page-->
<% content_for :top_content do %>
  <div class="jumbotron" id="mainpage">
    <div class="container">
      <h1>WhiteBoard</h1>
      <p>Pleaes login to view your courses!</p>
      <p>id: [martin@wb.com]</p>
      <p>pw: [foobar]</p>
      <p>
        <%= link_to 'Login', new_user_session_path, class: 'btn btn-primary btn-lg' %>
      </p>
    </div>
  </div>
<% end %>
