<% content_for :top_content do %>
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome to WhiteBoard!</h1>
      <p>Pleaes login to view your courses!</p>
      <p>
        <%= link_to 'Login', new_user_session_path, class: 'btn btn-primary btn-lg' %>
      </p>
    </div>
  </div>
<% end %>
